body {
    font-family: 'Montserrat', sans-serif;
    color: white;

}

input[type="text"] {
    width: 200px;
    font-size: 16px;
    padding: 12px 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type="button"] {
    font-size: 16px;
    padding: 12px 20px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}

button[type="button"]:hover {
    background-color: #46a049;
}

#WinnerText{
    font-size: 20px;
    padding-left: 5%;
    padding-top: 10%;
    display: none;
    width: 50%;
    text-align: center;
    line-height: 1.6;
}

#WinnerText::first-letter{
    text-transform: uppercase;
}

html { 
    background: url(../dogPoop/Images/Background.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -1;
  }

  @media only screen and (min-width: 950px) {
    input[type="text"] {
        font-size: 16px;
        padding: 12px 20px;
        border: 2px solid #ccc;
        box-sizing: border-box;
        align-items: center;
    }
    
    button[type="button"] {
        font-size: 16px;
        padding: 12px 20px;
        cursor: pointer;
        top: 5%;
    }
    
    button[type="button"]:hover {
        background-color: #46a049;
    }    

    #WinnerText{
        font-size: 20px;
        padding-left: 5%;
        padding-top: 10%;
        display: none;    
        width: 25%;
        text-align: left;
    }

}

